<div id="facebook_app">
      <h2>Awesome People</h2>
  <div id="nav">
    <% if current_user %>
         Hello, <%= current_user.first_name %> | <%= link_to "Sign out", signout_path %>
    <% else %>
        <%= link_to "Login With Facebook", "/auth/facebook", :class => "connect_with_facebook_button" %>
        <h3>Please, connect ONLY if you are Awesome.</h3>
    <% end %>
  </div>

  <% if current_user %>
    <div id="friends">
      <p><%= link_to "Invite Your Facebook Friends", "#", :id => "invite_fb_friends" %></p>

      <div id="fb-root"></div>

      <script src="http://connect.facebook.net/en_US/all.js"></script>

      <script>
        $(function(){
    
          $("a#invite_fb_friends").click(function() {
            FB.init({ 
               appId:'138781652866563', 
               cookie:false, 
               status:true
            });
      
            FB.ui({ method: 'apprequests', message: '<%= current_user.first_name %> <%= current_user.last_name %> thinks you are really Awesome.'});
          });
        });
      </script>
    </div>
  <% end %>
  
  <div id="awesome_friends">

    <table>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %> is Awesome!</td>
      </tr>
      <% end %>
    </table>


  </div>
</div>